@charset "utf-8";

/*

Shorthand:

margin: 40px; all 4 sides
margin 40 auto; top/bottom right/left
margin: 40px auto 0; top right/left bottom
margin: 40px 30px 5px 10px; top right bottom left

Start at the top, then continue clockwise around the box.

Units of measurement

Width = %
Hieght = rem
Type = rem
Graphics = px (e.g. "border" would be considered a graphic)

Reminder: the child determines the height of the parent element.

/* Controls the size of the viewport */

@-moz-viewport { width: device-width; scale: 1; } /* Firefox */
@-ms-viewport { width: device-width; scale: 1; } /* Microsoft */
@-o-viewport { width: device-width; scale: 1; } /* Opera */
@-webkit-viewport { width: device-width; scale: 1; } ?* Safari % Chrome */
@viewport { width: device-width; scale: 1; } /* w3C Standard */

/* Adjust the padding so it draws on the box interior */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    
    /* Controls the zoom on mobile */
    
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    /* Controls the default font size */
    
    font-size: 100%; /* 100% = 16px = 1rem */
    font-family: Georgia, Times, serif;
}

header {
    width: 100%;
    padding: 0rem;
    overflow:hidden;
    background-color:#333366;
}

h1 {
    font-family: Helvetica;
    font-size: 1.7rem;
    background-color: #cccc99;
    color: #333300;
    padding: 1rem 
}

.billboard {
    overflow:hidden;
    background-image: url(../images/avenue-road-arts-school.jpg.jpg);
    background-repeat: no-repeat;
    background-color: #333366;
    background-position: center center;
    background-size: 40rem;
}

.billboard-img {
    width: 75%;
}

.logo {
    height: 3.5rem;
    width: auto;
    background-color: #333366;
    padding: .5rem 5%;
}

.nav {
    float:left;
    padding: 0.6rem 1rem;
    margin: 0.2rem;
    background-color: #cccc99;
}

a {
    text-decoration: none;
    color: #333300;
}

.nav:hover {
    color: #333300;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #f1f3f6);
}