@charset "utf-8";

/*

Shorthand:

margin: 40px; all 4 sides
margin 40 auto; top/bottom right/left
margin: 40px auto 0; top right/left bottom
margin: 40px 30px 5px 10px; top right bottom left

Start at the top, then continue clockwise around the box.

Units of measurement

Width = %
Hieght = rem
Type = rem
Graphics = px (e.g. "border" would be considered a graphic)

Reminder: the child determines the height of the parent element.

/* Controls the size of the viewport */

@-moz-viewport { width: device-width; scale: 1; } /* Firefox */
@-ms-viewport { width: device-width; scale: 1; } /* Microsoft */
@-o-viewport { width: device-width; scale: 1; } /* Opera */
@-webkit-viewport { width: device-width; scale: 1; } ?* Safari % Chrome */
@viewport { width: device-width; scale: 1; } /* w3C Standard */

/* Adjust the padding so it draws on the box interior */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    
    /* Controls the zoom on mobile */
    
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    /* Controls the default font size */
    
    font-size: 100%; /* 100% = 16px = 1rem */
    font-family: Georgia, Times, serif;
}

header {
    width: 100%;
    padding: 0rem;
    overflow:hidden;
    background-color:#000033;
}

body {
    margin: 0rem 0rem 0rem 1.5rem
}

h1 {
    font-family: Helvetica;
    font-size: 2rem;
    background-color: #cccc99;
    color: #333300;
    padding: 1rem 
}

h2 {
    display: block;
    font-family: Helvetica;
    line-height: 1.5rem;
    padding: 2rem 0rem 0rem;
    margin: 2.4rem 0rem 0rem 0rem;
    color: #333300;
    font-size: 1.7rem;
}

h3 {
    font-family: Helvetica;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 0rem;
    margin: 1rem 0rem 0rem 0rem;
}

h4 {
    font-family: helvetica;
    color: #cccccc;
    font-weight:normal;
    font-size: 0.8rem;
}

p {
    font-family: Helvetica;
    line-height: 1.5rem;
}

.tag {
    margin: 0rem;
    padding: 0rem;
}

.space {
    font-size: 0.1rem;
    padding: 2.7rem;
    color: white;
}

.space-2 {
    font-size: 0.1rem;
    color: white;
    padding: 1rem 0rem;
}

.billboard {
    overflow:hidden;
    background-image: url(../images/avenue-road-arts-school.jpg.jpg);
    background-repeat: no-repeat;
    background-color: #333366;
    background-position: center center;
    background-size: 40rem;
}

.billboard-img {
    width: 75%;
}

.logo {
    height: 3.5rem;
    width: auto;
    background-color: #000033;
    padding: .5rem 5%;
}

.nav {
    float:left;
    padding: 0.6rem 1rem;
    margin: 0.2rem;
    background-color: #cccc99;
    
}

li {
    color: #333300;
    line-height: 1.5rem;
    font-weight: normal;
    font-family: Helvetica;
    font-style: italic;
}

a {
    text-decoration: none;
    color: #333300;
    font-family: Helvetica;
}

.link {
    color: #669999;
}

.register {
    background-color: #669999;
    padding: 0.6rem 1rem;
}

.register:hover {
    color: #669999;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #f1f3f6);
}

span {
    color: #333300;
    font-style: italic;
}

.nav:hover {
    color: #333300;
    background-image: linear-gradient(to bottom, #fff, #f1f3f6);
}

.drop-shadow {
    box-shadow: 2px 4px 6px rgba(0,0,0,0.5);
    width: 15rem;
}

.border-bottom {
    border-bottom: solid #999999 .1rem;
    padding: 0 0 1.5rem 0;
}

.border-top {
    border-top: solid #999999 .1rem;
    padding: 0.5rem;
    color: #cccccc;
}

hr {
   size: .1rem;
}

figure {
    font-style: italic;
    margin: 0.6rem 8rem 0rem;
}

footer {
    background-color: #666666;
    padding: 0.2rem 1rem
}

.source {
    color: white;
}